CONFIG_TARGET_qualcommax=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_aliyun_ap8220=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_COOVACHILLI_NOSSL=y
CONFIG_EMAILRELAY_SSL=y
CONFIG_FASTD_ENABLE_CIPHER_NULL=y
CONFIG_FASTD_ENABLE_CIPHER_SALSA2012=y
CONFIG_FASTD_ENABLE_MAC_UHASH=y
CONFIG_FASTD_ENABLE_METHOD_COMPOSED_UMAC=y
CONFIG_FASTD_ENABLE_METHOD_GENERIC_UMAC=y
CONFIG_FASTD_ENABLE_METHOD_NULL=y
CONFIG_FASTD_ENABLE_METHOD_NULL_L2TP=y
CONFIG_FASTD_WITH_OFFLOAD_L2TP=y
CONFIG_FASTD_WITH_STATUS_SOCKET=y
CONFIG_GENSIO_PTHREADS=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_IMAGEOPT=y
CONFIG_KEEPALIVED_CHECKSUM_COMPAT=y
CONFIG_KEEPALIVED_FWMARK=y
CONFIG_KEEPALIVED_IP6TABLES=y
CONFIG_KEEPALIVED_IPTABLES=y
CONFIG_KEEPALIVED_LINKBEAT=y
CONFIG_KEEPALIVED_LVS=y
CONFIG_KEEPALIVED_LVS_64BIT_STATS=y
CONFIG_KEEPALIVED_LVS_SYNCD=y
CONFIG_KEEPALIVED_NFTABLES=y
CONFIG_KEEPALIVED_ROUTES=y
CONFIG_KEEPALIVED_SHA1=y
CONFIG_KEEPALIVED_VRRP=y
CONFIG_KEEPALIVED_VRRP_AUTH=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_LLDPD_WITH_CDP=y
CONFIG_LLDPD_WITH_CUSTOM=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
CONFIG_LLDPD_WITH_EDP=y
CONFIG_LLDPD_WITH_FDP=y
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_PRIVSEP=y
CONFIG_LLDPD_WITH_SONMP=y
CONFIG_LXC_SECCOMP=y
CONFIG_MOSQUITTO_CTRL=y
CONFIG_MOSQUITTO_DYNAMIC_SECURITY=y
CONFIG_MOSQUITTO_LWS=y
CONFIG_MOSQUITTO_PASSWD=y
CONFIG_NGINX_HTTP_ACCESS=y
CONFIG_NGINX_HTTP_AUTH_BASIC=y
CONFIG_NGINX_HTTP_AUTOINDEX=y
CONFIG_NGINX_HTTP_BROWSER=y
CONFIG_NGINX_HTTP_CACHE=y
CONFIG_NGINX_HTTP_CHARSET=y
CONFIG_NGINX_HTTP_EMPTY_GIF=y
CONFIG_NGINX_HTTP_FASTCGI=y
CONFIG_NGINX_HTTP_GEO=y
CONFIG_NGINX_HTTP_GZIP=y
CONFIG_NGINX_HTTP_GZIP_STATIC=y
CONFIG_NGINX_HTTP_LIMIT_CONN=y
CONFIG_NGINX_HTTP_LIMIT_REQ=y
CONFIG_NGINX_HTTP_MAP=y
CONFIG_NGINX_HTTP_MEMCACHED=y
CONFIG_NGINX_HTTP_PROXY=y
CONFIG_NGINX_HTTP_REFERER=y
CONFIG_NGINX_HTTP_REWRITE=y
CONFIG_NGINX_HTTP_SCGI=y
CONFIG_NGINX_HTTP_SPLIT_CLIENTS=y
CONFIG_NGINX_HTTP_SSI=y
CONFIG_NGINX_HTTP_UPSTREAM_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_IP_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_KEEPALIVE=y
CONFIG_NGINX_HTTP_UPSTREAM_LEAST_CONN=y
CONFIG_NGINX_HTTP_USERID=y
CONFIG_NGINX_HTTP_UWSGI=y
CONFIG_NGINX_HTTP_V2=y
CONFIG_NGINX_PCRE=y
CONFIG_NUT_DRIVER_NEON=y
CONFIG_NUT_DRIVER_SERIAL=y
CONFIG_NUT_DRIVER_USB=y
CONFIG_OCSERV_PROTOBUF=y
CONFIG_OPENCONNECT_GNUTLS=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y
CONFIG_OPENVPN_mbedtls_ENABLE_DCO=y
CONFIG_OPENVPN_mbedtls_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_mbedtls_ENABLE_LZ4=y
CONFIG_OPENVPN_mbedtls_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_mbedtls_ENABLE_SMALL=y
CONFIG_OPENVPN_openssl_ENABLE_DCO=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_LZO=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
CONFIG_OPENVPN_wolfssl=y
CONFIG_OPENVPN_wolfssl_ENABLE_DCO=y
CONFIG_OPENVPN_wolfssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_wolfssl_ENABLE_LZ4=y
CONFIG_OPENVPN_wolfssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_wolfssl_ENABLE_SMALL=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_POSIX_ACL=y
CONFIG_PACKAGE_TAR_XATTR=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
CONFIG_PACKAGE_acme=y
CONFIG_PACKAGE_acme-acmesh=y
CONFIG_PACKAGE_acme-common=y
CONFIG_PACKAGE_adblock=m
CONFIG_PACKAGE_adblock-fast=m
CONFIG_PACKAGE_antiblock=m
CONFIG_PACKAGE_apinger=m
CONFIG_PACKAGE_apinger-rrd=m
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_aria2-openssl=y
CONFIG_PACKAGE_attendedsysupgrade-common=m
CONFIG_PACKAGE_attr=m
CONFIG_PACKAGE_avahi-dbus-daemon=m
CONFIG_PACKAGE_babeld=m
CONFIG_PACKAGE_banip=y
CONFIG_PACKAGE_basicstation=m
CONFIG_PACKAGE_bcp38=y
CONFIG_PACKAGE_bmx7=y
CONFIG_PACKAGE_bmx7-json=y
CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_bzip2=m
CONFIG_PACKAGE_cJSON=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_certtool=m
CONFIG_PACKAGE_chaosvpn=m
CONFIG_PACKAGE_check=m
CONFIG_PACKAGE_chrony=m
CONFIG_PACKAGE_cjdns=m
CONFIG_PACKAGE_clamav=m
CONFIG_PACKAGE_cloudflared=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_containerd=m
CONFIG_PACKAGE_coova-chilli=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-dirname=m
CONFIG_PACKAGE_coreutils-sort=m
CONFIG_PACKAGE_coreutils-timeout=m
CONFIG_PACKAGE_crowdsec-firewall-bouncer=m
CONFIG_PACKAGE_csshnpd=m
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_davici=m
CONFIG_PACKAGE_dawn=m
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_dcwapd=m
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-services=y
CONFIG_PACKAGE_dkjson=m
CONFIG_PACKAGE_docker=m
CONFIG_PACKAGE_docker-compose=m
CONFIG_PACKAGE_dockerd=m
CONFIG_PACKAGE_dump1090=y
CONFIG_PACKAGE_emailrelay=m
CONFIG_PACKAGE_eoip=m
CONFIG_PACKAGE_etherwake=m
CONFIG_PACKAGE_fastd=m
CONFIG_PACKAGE_flock=m
CONFIG_PACKAGE_frpc=m
CONFIG_PACKAGE_frps=m
CONFIG_PACKAGE_fuse-utils=m
CONFIG_PACKAGE_fwknopd=m
CONFIG_PACKAGE_gawk=m
CONFIG_PACKAGE_getopt=m
CONFIG_PACKAGE_glib2=m
CONFIG_PACKAGE_hd-idle=m
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_hostapd-basic=m
CONFIG_PACKAGE_hostapd-basic-mbedtls=m
CONFIG_PACKAGE_hostapd-basic-openssl=m
CONFIG_PACKAGE_hostapd-basic-wolfssl=m
CONFIG_PACKAGE_hostapd-mbedtls=m
CONFIG_PACKAGE_hostapd-mini=m
CONFIG_PACKAGE_hostapd-openssl=m
CONFIG_PACKAGE_hostapd-utils=m
CONFIG_PACKAGE_hostapd-wolfssl=m
CONFIG_PACKAGE_hs20-client=m
CONFIG_PACKAGE_hs20-common=m
CONFIG_PACKAGE_hs20-server=m
CONFIG_PACKAGE_https-dns-proxy=m
CONFIG_PACKAGE_inotifywait=m
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_ip6tables-nft=m
CONFIG_PACKAGE_ipset=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iptables-mod-nat-extra=m
CONFIG_PACKAGE_iptables-nft=m
CONFIG_PACKAGE_irqbalance=m
CONFIG_PACKAGE_keepalived=m
CONFIG_PACKAGE_keepalived-sync=m
CONFIG_PACKAGE_kmod-asn1-decoder=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-crypto-acompress=m
CONFIG_PACKAGE_kmod-crypto-arc4=m
CONFIG_PACKAGE_kmod-crypto-authenc=m
CONFIG_PACKAGE_kmod-crypto-blake2b=m
CONFIG_PACKAGE_kmod-crypto-cbc=m
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=m
CONFIG_PACKAGE_kmod-crypto-cts=m
CONFIG_PACKAGE_kmod-crypto-deflate=m
CONFIG_PACKAGE_kmod-crypto-des=m
CONFIG_PACKAGE_kmod-crypto-ecb=m
CONFIG_PACKAGE_kmod-crypto-ecdh=m
CONFIG_PACKAGE_kmod-crypto-echainiv=m
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-crypto-md5=m
CONFIG_PACKAGE_kmod-crypto-pcbc=m
CONFIG_PACKAGE_kmod-crypto-sha1=m
CONFIG_PACKAGE_kmod-crypto-sha256=m
CONFIG_PACKAGE_kmod-crypto-user=m
CONFIG_PACKAGE_kmod-crypto-xcbc=m
CONFIG_PACKAGE_kmod-crypto-xxhash=m
CONFIG_PACKAGE_kmod-fs-btrfs=m
CONFIG_PACKAGE_kmod-fs-ksmbd=m
CONFIG_PACKAGE_kmod-fs-netfs=m
CONFIG_PACKAGE_kmod-fs-smbfs-common=m
CONFIG_PACKAGE_kmod-fuse=m
CONFIG_PACKAGE_kmod-gre=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ip-vti=m
CONFIG_PACKAGE_kmod-ip6-tunnel=m
CONFIG_PACKAGE_kmod-ip6-vti=m
CONFIG_PACKAGE_kmod-ip6tables=m
CONFIG_PACKAGE_kmod-ipsec=m
CONFIG_PACKAGE_kmod-ipsec4=m
CONFIG_PACKAGE_kmod-ipsec6=m
CONFIG_PACKAGE_kmod-ipt-conntrack=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-core=m
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-ipset=m
CONFIG_PACKAGE_kmod-ipt-nat=m
CONFIG_PACKAGE_kmod-ipt-nat-extra=m
CONFIG_PACKAGE_kmod-ipt-nat6=m
CONFIG_PACKAGE_kmod-ipt-physdev=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-l2tp=m
CONFIG_PACKAGE_kmod-lib-lzo=m
CONFIG_PACKAGE_kmod-lib-raid6=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-lib-xor=m
CONFIG_PACKAGE_kmod-lib-xxhash=m
CONFIG_PACKAGE_kmod-lib-zlib-deflate=m
CONFIG_PACKAGE_kmod-lib-zlib-inflate=m
CONFIG_PACKAGE_kmod-lib-zstd=m
CONFIG_PACKAGE_kmod-macremapper=m
CONFIG_PACKAGE_kmod-macvlan=m
CONFIG_PACKAGE_kmod-mppe=m
CONFIG_PACKAGE_kmod-nf-conncount=m
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=m
CONFIG_PACKAGE_kmod-nf-ipt=m
CONFIG_PACKAGE_kmod-nf-ipt6=m
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-nf-nat6=m
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_kmod-nfnetlink-log=m
CONFIG_PACKAGE_kmod-nft-bridge=m
CONFIG_PACKAGE_kmod-nft-compat=m
CONFIG_PACKAGE_kmod-nft-netdev=m
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-xfrm=m
CONFIG_PACKAGE_kmod-nls-ucs2-utils=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-oid-registry=m
CONFIG_PACKAGE_kmod-pppol2tp=m
CONFIG_PACKAGE_kmod-sched=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-acm=m
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_kmod-xfrm-interface=m
CONFIG_PACKAGE_ksmbd-server=m
CONFIG_PACKAGE_libacl=m
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libavahi-client=m
CONFIG_PACKAGE_libavahi-dbus-support=m
CONFIG_PACKAGE_libbpf=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-ng=y
CONFIG_PACKAGE_libcares=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_libdaemon=m
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libdcwproto=m
CONFIG_PACKAGE_libdcwsocket=m
CONFIG_PACKAGE_libdeflate=m
CONFIG_PACKAGE_libdht=m
CONFIG_PACKAGE_libedit=m
CONFIG_PACKAGE_libelf=m
CONFIG_PACKAGE_libev=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libevent2-core=m
CONFIG_PACKAGE_libevent2-openssl=m
CONFIG_PACKAGE_libevent2-pthreads=m
CONFIG_PACKAGE_libexif=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libffmpeg-audio-dec=m
CONFIG_PACKAGE_libfko=m
CONFIG_PACKAGE_libflac=m
CONFIG_PACKAGE_libfuse=m
CONFIG_PACKAGE_libgcrypt=m
CONFIG_PACKAGE_libgd=y
CONFIG_PACKAGE_libgdbm=m
CONFIG_PACKAGE_libgensio=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_libgpg-error=m
CONFIG_PACKAGE_libid3tag=m
CONFIG_PACKAGE_libidn2=m
CONFIG_PACKAGE_libinotifytools=m
CONFIG_PACKAGE_libip4tc=m
CONFIG_PACKAGE_libip6tc=m
CONFIG_PACKAGE_libipset=m
CONFIG_PACKAGE_libiptext=m
CONFIG_PACKAGE_libiptext-nft=m
CONFIG_PACKAGE_libiptext6=m
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_libkmod=m
CONFIG_PACKAGE_libldns=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_liblxc=m
CONFIG_PACKAGE_liblz4=m
CONFIG_PACKAGE_liblzma=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libmagic=m
CONFIG_PACKAGE_libmilter-sendmail=m
CONFIG_PACKAGE_libminiupnpc=m
CONFIG_PACKAGE_libmount=m
CONFIG_PACKAGE_libnatpmp=m
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libneon=m
CONFIG_PACKAGE_libnetsnmp=m
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libnfnetlink=m
CONFIG_PACKAGE_libnghttp2=m
CONFIG_PACKAGE_libnl-core=m
CONFIG_PACKAGE_libnl-genl=m
CONFIG_PACKAGE_libnl-route=m
CONFIG_PACKAGE_libnss=m
CONFIG_PACKAGE_libogg=m
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libopenssl-legacy=y
CONFIG_PACKAGE_libowipcalc=m
CONFIG_PACKAGE_libpagekite=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpci=m
CONFIG_PACKAGE_libpcre2=y
CONFIG_PACKAGE_libpng=y
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_libprotobuf-c=m
CONFIG_PACKAGE_libpsl=m
CONFIG_PACKAGE_libpython3=m
CONFIG_PACKAGE_libqrencode=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_libreswan=m
CONFIG_PACKAGE_libreswan-nftables=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_librtlsdr=y
CONFIG_PACKAGE_libseccomp=m
CONFIG_PACKAGE_libsodium=m
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libtasn1=m
CONFIG_PACKAGE_libtirpc=m
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libuecc=m
CONFIG_PACKAGE_libunbound=m
CONFIG_PACKAGE_libunbound_ipset=y
CONFIG_PACKAGE_libunbound_libevent=y
CONFIG_PACKAGE_libunbound_libpthread=y
CONFIG_PACKAGE_libunistring=m
CONFIG_PACKAGE_liburing=m
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_libusb-compat=m
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libutp=m
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libvorbis=m
CONFIG_PACKAGE_libwebp=y
CONFIG_PACKAGE_libwebsockets-full=m
CONFIG_PACKAGE_libwolfssl=m
CONFIG_PACKAGE_libxml2=m
CONFIG_PACKAGE_libxtables=m
CONFIG_PACKAGE_libyaml=m
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_lldpd=m
CONFIG_PACKAGE_lsblk=m
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_lua-bencode=m
CONFIG_PACKAGE_lua-sha2=m
CONFIG_PACKAGE_luafilesystem=m
CONFIG_PACKAGE_luasocket=m
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-acl=y
CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-adblock=m
CONFIG_PACKAGE_luci-app-adblock-fast=m
CONFIG_PACKAGE_luci-app-advanced-reboot=m
CONFIG_PACKAGE_luci-app-antiblock=m
CONFIG_PACKAGE_luci-app-apinger=m
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=m
CONFIG_PACKAGE_luci-app-babeld=m
CONFIG_PACKAGE_luci-app-banip=y
CONFIG_PACKAGE_luci-app-bcp38=y
CONFIG_PACKAGE_luci-app-bmx7=y
CONFIG_PACKAGE_luci-app-chrony=m
CONFIG_PACKAGE_luci-app-cjdns=m
CONFIG_PACKAGE_luci-app-clamav=m
CONFIG_PACKAGE_luci-app-cloudflared=m
CONFIG_PACKAGE_luci-app-commands=m
CONFIG_PACKAGE_luci-app-coovachilli=m
CONFIG_PACKAGE_luci-app-crowdsec-firewall-bouncer=m
CONFIG_PACKAGE_luci-app-csshnpd=m
CONFIG_PACKAGE_luci-app-dawn=m
CONFIG_PACKAGE_luci-app-dcwapd=m
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-dump1090=y
CONFIG_PACKAGE_luci-app-email=m
CONFIG_PACKAGE_luci-app-eoip=m
CONFIG_PACKAGE_luci-app-example=m
CONFIG_PACKAGE_luci-app-filebrowser=m
CONFIG_PACKAGE_luci-app-filemanager=m
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-frps=m
CONFIG_PACKAGE_luci-app-fwknopd=m
CONFIG_PACKAGE_luci-app-hd-idle=m
CONFIG_PACKAGE_luci-app-https-dns-proxy=m
CONFIG_PACKAGE_luci-app-irqbalance=m
CONFIG_PACKAGE_luci-app-keepalived=m
CONFIG_PACKAGE_luci-app-ksmbd=m
CONFIG_PACKAGE_luci-app-ledtrig-rssi=m
CONFIG_PACKAGE_luci-app-ledtrig-switch=m
CONFIG_PACKAGE_luci-app-ledtrig-usbport=m
CONFIG_PACKAGE_luci-app-libreswan=m
CONFIG_PACKAGE_luci-app-lldpd=m
CONFIG_PACKAGE_luci-app-lorawan-basicstation=m
CONFIG_PACKAGE_luci-app-lxc=m
CONFIG_PACKAGE_luci-app-minidlna=m
CONFIG_PACKAGE_luci-app-mjpg-streamer=m
CONFIG_PACKAGE_luci-app-mosquitto=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-natmap=m
CONFIG_PACKAGE_luci-app-nextdns=m
CONFIG_PACKAGE_luci-app-nft-qos=m
CONFIG_PACKAGE_luci-app-nlbwmon=m
CONFIG_PACKAGE_luci-app-nut=m
CONFIG_PACKAGE_luci-app-ocserv=m
CONFIG_PACKAGE_luci-app-olsr=m
CONFIG_PACKAGE_luci-app-olsr-services=m
CONFIG_PACKAGE_luci-app-olsr-viz=m
CONFIG_PACKAGE_luci-app-olsrd2=m
CONFIG_PACKAGE_luci-app-omcproxy=m
CONFIG_PACKAGE_luci-app-openlist=m
CONFIG_PACKAGE_luci-app-openthread=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-openwisp=m
CONFIG_PACKAGE_luci-app-p910nd=m
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-app-pagekitec=m
CONFIG_PACKAGE_luci-app-pbr=m
CONFIG_PACKAGE_luci-app-privoxy=m
CONFIG_PACKAGE_luci-app-qos=m
CONFIG_PACKAGE_luci-app-radicale2=m
CONFIG_PACKAGE_luci-app-rp-pppoe-server=m
CONFIG_PACKAGE_luci-app-samba4=m
CONFIG_PACKAGE_luci-app-ser2net=m
CONFIG_PACKAGE_luci-app-smartdns=m
CONFIG_PACKAGE_luci-app-snmpd=m
CONFIG_PACKAGE_luci-app-softether=m
CONFIG_PACKAGE_luci-app-splash=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-squid=m
CONFIG_PACKAGE_luci-app-sshtunnel=m
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-app-strongswan-swanctl=m
CONFIG_PACKAGE_luci-app-tinyproxy=m
CONFIG_PACKAGE_luci-app-tor=m
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-travelmate=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-udpxy=m
CONFIG_PACKAGE_luci-app-uhttpd=m
CONFIG_PACKAGE_luci-app-unbound=m
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usteer=y
CONFIG_PACKAGE_luci-app-v2raya=y
CONFIG_PACKAGE_luci-app-vnstat2=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-app-xfrpc=m
CONFIG_PACKAGE_luci-app-xinetd=m
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-chartjs=m
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-lib-httpclient=m
CONFIG_PACKAGE_luci-lib-httpprotoutils=m
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-ipkg=m
CONFIG_PACKAGE_luci-lib-iptparser=m
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lib-px5g=m
CONFIG_PACKAGE_luci-lib-uqr=m
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-nginx=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-material=m
CONFIG_PACKAGE_luci-theme-openwrt=m
CONFIG_PACKAGE_luci-theme-openwrt-2020=m
CONFIG_PACKAGE_lxc=m
CONFIG_PACKAGE_lxc-attach=m
CONFIG_PACKAGE_lxc-common=m
CONFIG_PACKAGE_lxc-configs=m
CONFIG_PACKAGE_lxc-console=m
CONFIG_PACKAGE_lxc-create=m
CONFIG_PACKAGE_lxc-hooks=m
CONFIG_PACKAGE_lxc-templates=m
CONFIG_PACKAGE_minidlna=m
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_mjpg-streamer=m
CONFIG_PACKAGE_mosquitto-ssl=m
CONFIG_PACKAGE_mrmctl=m
CONFIG_PACKAGE_mwan3=m
CONFIG_PACKAGE_natmap=m
CONFIG_PACKAGE_netbird=m
CONFIG_PACKAGE_nextdns=m
CONFIG_PACKAGE_nft-qos=m
CONFIG_PACKAGE_nginx-mod-luci=y
CONFIG_PACKAGE_nginx-mod-ubus=y
CONFIG_PACKAGE_nginx-ssl=y
CONFIG_PACKAGE_nginx-ssl-util=y
CONFIG_PACKAGE_nlbwmon=m
CONFIG_PACKAGE_nspr=m
CONFIG_PACKAGE_nss-utils=m
CONFIG_PACKAGE_nut=m
CONFIG_PACKAGE_nut-common=m
CONFIG_PACKAGE_nut-server=m
CONFIG_PACKAGE_nut-upsc=m
CONFIG_PACKAGE_nut-upscmd=m
CONFIG_PACKAGE_nut-upsmon=m
CONFIG_PACKAGE_nut-web-cgi=m
CONFIG_PACKAGE_ocserv=m
CONFIG_PACKAGE_olsrd=m
CONFIG_PACKAGE_olsrd-mod-nameservice=m
CONFIG_PACKAGE_olsrd-mod-txtinfo=m
CONFIG_PACKAGE_omcproxy=m
CONFIG_PACKAGE_openconnect=m
CONFIG_PACKAGE_openfortivpn=m
CONFIG_PACKAGE_openlist=m
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_openvpn-easy-rsa=m
CONFIG_PACKAGE_openvpn-mbedtls=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_openvpn-wolfssl=m
CONFIG_PACKAGE_openwisp-config=m
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_owipcalc=m
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_pagekitec=m
CONFIG_PACKAGE_pbr=m
CONFIG_PACKAGE_php8=m
CONFIG_PACKAGE_php8-cgi=m
CONFIG_PACKAGE_php8-mod-pdo=m
CONFIG_PACKAGE_php8-mod-pdo-sqlite=m
CONFIG_PACKAGE_php8-mod-xml=m
CONFIG_PACKAGE_ppp-mod-pppol2tp=m
CONFIG_PACKAGE_pptpd=m
CONFIG_PACKAGE_privoxy=m
CONFIG_PACKAGE_px5g-mbedtls=y
CONFIG_PACKAGE_python3=m
CONFIG_PACKAGE_python3-asyncio=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_python3-cgi=m
CONFIG_PACKAGE_python3-cgitb=m
CONFIG_PACKAGE_python3-codecs=m
CONFIG_PACKAGE_python3-ctypes=m
CONFIG_PACKAGE_python3-dateutil=m
CONFIG_PACKAGE_python3-dbm=m
CONFIG_PACKAGE_python3-decimal=m
CONFIG_PACKAGE_python3-distutils=m
CONFIG_PACKAGE_python3-email=m
CONFIG_PACKAGE_python3-light=m
CONFIG_PACKAGE_python3-logging=m
CONFIG_PACKAGE_python3-lzma=m
CONFIG_PACKAGE_python3-multiprocessing=m
CONFIG_PACKAGE_python3-ncurses=m
CONFIG_PACKAGE_python3-openssl=m
CONFIG_PACKAGE_python3-passlib=m
CONFIG_PACKAGE_python3-pkg-resources=m
CONFIG_PACKAGE_python3-pydoc=m
CONFIG_PACKAGE_python3-readline=m
CONFIG_PACKAGE_python3-setuptools=m
CONFIG_PACKAGE_python3-six=m
CONFIG_PACKAGE_python3-sqlite3=m
CONFIG_PACKAGE_python3-unittest=m
CONFIG_PACKAGE_python3-urllib=m
CONFIG_PACKAGE_python3-uuid=m
CONFIG_PACKAGE_python3-vobject=m
CONFIG_PACKAGE_python3-xml=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_qrencode=m
CONFIG_PACKAGE_radicale2=m
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_rp-pppoe-common=m
CONFIG_PACKAGE_rp-pppoe-server=m
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-lxc=m
CONFIG_PACKAGE_rpcd-mod-rad2-enc=m
CONFIG_PACKAGE_rpcd-mod-rpcsys=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_rrdcgi1=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_rsync=m
CONFIG_PACKAGE_runc=m
CONFIG_PACKAGE_safe-search=m
CONFIG_PACKAGE_samba4-admin=m
CONFIG_PACKAGE_samba4-client=m
CONFIG_PACKAGE_samba4-libs=m
CONFIG_PACKAGE_samba4-server=m
CONFIG_PACKAGE_ser2net=m
CONFIG_PACKAGE_smartdns=m
CONFIG_PACKAGE_snmpd=m
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_softethervpn-base=m
CONFIG_PACKAGE_softethervpn-bridge=m
CONFIG_PACKAGE_softethervpn-client=m
CONFIG_PACKAGE_softethervpn-server=m
CONFIG_PACKAGE_softethervpn5-bridge=m
CONFIG_PACKAGE_softethervpn5-client=m
CONFIG_PACKAGE_softethervpn5-libs=m
CONFIG_PACKAGE_softethervpn5-server=m
CONFIG_PACKAGE_sqlite3-cli=m
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_squid=m
CONFIG_PACKAGE_sshtunnel=m
CONFIG_PACKAGE_sstp-client=m
CONFIG_PACKAGE_strongswan=m
CONFIG_PACKAGE_strongswan-mod-vici=m
CONFIG_PACKAGE_strongswan-swanctl=m
CONFIG_PACKAGE_sudo=m
CONFIG_PACKAGE_swanmon=m
CONFIG_PACKAGE_tailscale=m
CONFIG_PACKAGE_tar=m
CONFIG_PACKAGE_tc-tiny=m
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_tinc=m
CONFIG_PACKAGE_tini=m
CONFIG_PACKAGE_tinyproxy=m
CONFIG_PACKAGE_tor=m
CONFIG_PACKAGE_tor-hs=m
CONFIG_PACKAGE_transmission-daemon=m
CONFIG_PACKAGE_travelmate=m
CONFIG_PACKAGE_ttyd=m
CONFIG_PACKAGE_uanytun=m
CONFIG_PACKAGE_uanytun-nettle=m
CONFIG_PACKAGE_uanytun-nocrypt=m
CONFIG_PACKAGE_uanytun-sslcrypt=m
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-log=y
CONFIG_PACKAGE_ucode-mod-lua=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_udpxy=m
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_umdns=m
CONFIG_PACKAGE_unbound-daemon=m
CONFIG_PACKAGE_usteer=y
CONFIG_PACKAGE_uwsgi=y
CONFIG_PACKAGE_uwsgi-cgi-plugin=y
CONFIG_PACKAGE_uwsgi-luci-support=y
CONFIG_PACKAGE_uwsgi-syslog-plugin=y
CONFIG_PACKAGE_v2raya=y
CONFIG_PACKAGE_vnstat2=y
CONFIG_PACKAGE_vnstati2=y
CONFIG_PACKAGE_vpnc=m
CONFIG_PACKAGE_vpnc-scripts=m
CONFIG_PACKAGE_watchcat=y
CONFIG_PACKAGE_wg-installer-client=m
CONFIG_PACKAGE_wg-installer-server=m
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_wgsd-client=m
CONFIG_PACKAGE_wgsd-coredns=m
CONFIG_PACKAGE_wifischedule=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_wpa-cli=m
CONFIG_PACKAGE_wpa-supplicant=y
CONFIG_PACKAGE_wpa-supplicant-basic=m
CONFIG_PACKAGE_wpa-supplicant-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-openssl=m
CONFIG_PACKAGE_wpa-supplicant-mesh-wolfssl=m
CONFIG_PACKAGE_wpa-supplicant-mini=m
CONFIG_PACKAGE_wpa-supplicant-openssl=m
CONFIG_PACKAGE_wpa-supplicant-p2p=m
CONFIG_PACKAGE_wpa-supplicant-wolfssl=m
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_wpad-basic=m
CONFIG_PACKAGE_wpad-basic-mbedtls=m
CONFIG_PACKAGE_wpad-basic-openssl=m
CONFIG_PACKAGE_wpad-basic-wolfssl=m
CONFIG_PACKAGE_wpad-mbedtls=m
CONFIG_PACKAGE_wpad-mesh-mbedtls=m
CONFIG_PACKAGE_wpad-mesh-openssl=m
CONFIG_PACKAGE_wpad-mesh-wolfssl=m
CONFIG_PACKAGE_wpad-mini=m
CONFIG_PACKAGE_wpad-openssl=m
CONFIG_PACKAGE_wpad-wolfssl=m
CONFIG_PACKAGE_wsdd2=m
CONFIG_PACKAGE_xfrpc=m
CONFIG_PACKAGE_xinetd=m
CONFIG_PACKAGE_xl2tpd=m
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_xtables-nft=m
CONFIG_PACKAGE_xxd=m
CONFIG_PACKAGE_xz=m
CONFIG_PACKAGE_xz-utils=m
CONFIG_PACKAGE_zerotier=m
CONFIG_PACKAGE_zoneinfo-core=m
CONFIG_PHP8_SYSTEMTZDATA=y
CONFIG_RSYNC_acl=y
CONFIG_RSYNC_xattr=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_SAMBA4_SERVER_WSDD2=y
CONFIG_SQLITE3_COLUMN_METADATA=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_LIBEDIT=y
CONFIG_SQLITE3_RTREE=y
CONFIG_SQUID_enable-ipv6=y
CONFIG_SQUID_enable-ssl-crtd=y
CONFIG_SQUID_use-openssl=y
CONFIG_STRONGSWAN_ROUTING_TABLE="220"
CONFIG_STRONGSWAN_ROUTING_TABLE_PRIO="220"
CONFIG_VPNC_GNUTLS=y
CONFIG_WOLFSSL_HAS_NO_HW=y
CONFIG_WPA_ENABLE_WEP=y
CONFIG_WPA_RFKILL_SUPPORT=y
CONFIG_WPA_WOLFSSL=y
CONFIG_ZSTD_OPTIMIZE_O3=y
CONFIG_PACKAGE_apk-mbedtls=y
CONFIG_PACKAGE_ath11k-firmware-ipq8074=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_fwtool=y
CONFIG_PACKAGE_getrandom=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_ipq-wifi-aliyun_ap8220=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_jansson4=y
CONFIG_PACKAGE_jshn=y
CONFIG_PACKAGE_jsonfilter=y
CONFIG_PACKAGE_kernel=y
CONFIG_PACKAGE_kmod-ath=y
CONFIG_PACKAGE_kmod-ath11k=y
CONFIG_PACKAGE_kmod-ath11k-ahb=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-ccm=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-conntrack6=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_libblkid1=y
CONFIG_PACKAGE_libblobmsg-json20241219=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_netifd=y
CONFIG_BUILD_LOG=y
CONFIG_CCACHE=y
