CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_aliyun_ap8220=y
CONFIG_TARGET_BOARD="qualcommax"
CONFIG_TARGET_SUBTARGET="ipq807x"
CONFIG_TARGET_PROFILE="DEVICE_aliyun_ap8220"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_CPU_TYPE="cortex-a53"
CONFIG_LINUX_6_12=y
CONFIG_ARCH_64BIT=y
CONFIG_aarch64=y
CONFIG_ARCH="aarch64"

# 主机名称
CONFIG_DEFAULT_HOSTNAME="AP8220"

# wireguard软件包
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_luci-proto-wireguard=y

# web管理后台
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y

# 中文简体语言包
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y

# 系统主题
CONFIG_PACKAGE_luci-theme-bootstrap=y
# CONFIG_PACKAGE_luci-theme-material=y

# 全功能的 WiFi 认证与管理工具包
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_wpad-full-mbedtls=y  # 支持漫游的完整版组件

# OpenWrt 固件的早期初始化网络参数
# CONFIG_TARGET_PREINIT_IP="192.168.1.1"
# CONFIG_TARGET_PREINIT_NETMASK="255.255.255.0"
# CONFIG_TARGET_PREINIT_BROADCAST="192.168.1.255"

# EasyMesh网络插件，支持EasyMesh网络的配置和管理，实现无缝漫游。
# CONFIG_PACKAGE_luci-app-easymesh=y

# 广告屏蔽软件包
CONFIG_PACKAGE_adblock=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-i18n-adblock-zh-cn=y

# 广告拦截与反跟踪软件，通过监控DNS域名解析实现广告拦截和DNS防污染，可加快网站解析速度。
# CONFIG_PACKAGE_adguardhome=y

# PassWall的升级版或变体，提供更高级的网络代理和防火墙功能，满足专业用户需求。
# CONFIG_PACKAGE_luci-app-passwall2=y

# SmartDNS服务插件，提供智能DNS解析服务，根据预定义的规则和用户的地理位置自动选择最佳的DNS服务器进行查询。
# CONFIG_PACKAGE_luci-app-smartdns=y

# LuCI应用商店插件，提供OpenWrt插件的安装和管理，方便用户扩展路由器功能。
# CONFIG_PACKAGE_luci-app-store=y

# Docker管理插件，提供Docker容器的配置和管理界面，方便用户部署和管理容器化应用。
# CONFIG_PACKAGE_luci-app-dockerman=y

# 网盘聚合工具，支持多种云存储服务，提供统一的Web界面进行文件管理，支持WebDAV协议。
# CONFIG_PACKAGE_luci-app-alist=y

